*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}



.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 40px;
    justify-content: center;
}

.ecard{
    background: linear-gradient(to right, #3b141c, #5c1f2a, #7a2d3b);
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3 ) ;
    flex: 0 1 calc(33.333% - 40px );
    max-width: 320px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 10px 20px 20px;
    transition: transform 0.3s ease;
    color: #fff;
}

.ecard:hover{
    transform: scale(1.05);
}

.carrito{
    position: fixed;
    top: 10px;
    right: 30px;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
}

.carrito  #contador{
     position:absolute;
    top: -8px;
    right: -8px;
    background: #e2750f;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 7px;
    border-radius: 50%;
}

.btncomprar{
    color: #ffffff;
    background-color: #e2750f;
    border-radius: 11px;
    width: 110px;
    height: 25px;
    transition: transform 0.3s ease;
}

.detalles{
    color: #ffffff;
    background-color: #e2750f;
    border-radius: 11px;
    width: 110px;
    height: 25px;
    transition: transform 0.3s ease;
}